body {
    background-color: #FFF2D8;
    background-image: url(ghibli-background-u1rmyo6rje2tus9c.jpg);
    background-repeat: no-repeat;
    background-position: top;
}
h1 {
    font-family: "Times New Roman", Times, serif;
    color: #FAF1E4;
}