h1 {
    text-align: center;
    color: #0802A3;
}
h2 {
    text-align: left;
    color: #FF4B91;
}
h3 {
    text-align: right;
    color: #FF7676;
}
p {
    text-align: center;
    color: #FFCD4B;
}